@import './base.css';
@import './font.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--bg-color);
  transition: color 0.5s, background-color 0.5s;
  /* line-height: 1.6; */
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  height: 100%;
  overflow: auto;
}
/* * {
  box-sizing: border-box;
} */
.amap-logo {
  display: none !important;
}
.amap-copyright {
  visibility: hidden !important;
}

#container {
  width: 100%;
  height: 100%;
  /* background-color: rgb(4, 17, 51); */
  /* background-color: #01112a !important; */
  background-color: transparent !important;
  /* background-image: url(@/assets/images/background.jpg) !important; */
  /* background-image: url(@/assets/images/mapBg.png) !important; */
  background-image: none !important;
}
